/* 

Selectores 

Son patrones que permiten seleccionar y aplicar estilos específicos a elementos de una página web.

Tipos de Selectores

1.- Selectores Básicos

  -Selector universal
  -Selector de Tipo
  
2.- Selectores de Clase

 Seleccionan los elementos que tienen una clase especifica.

 Se usa la notación de punto (.) antes del nombre de la clase
 
 
 .nombreclase {
  propiedad: valor;
  }
3.- Selectores ID

Seleccionan un elemento unico con un identificador especifico.

Se usa la notación de numeral(#) antes del nombre del ID

#nombreID {
  porpiedad: valor;
}

4.- Selectores combinados

  -Descendientes

Los selectores descendientes seleccionan elementos dentro de otros elementos

elemento elementoInterno {
  propieddad: valor;
}

  -Hijo directo

   Selecciona elementos que son hijos de un elemento hijo padre.

   Elemenyo > elementosHijos {
     propiedades: valor;
    }

  -Elemento Adjacente

  Selecciona el primer elemento inmediatamente despues de otros. (su hermano inmediato o en ingles Siblings)

  Elemento Adjacente {
    propiedades: valores;
  } 
 
-Hermano general
  Selecciona todos los elementos hermanos, después de un elemento

  elemento ~ elementohermano {
  propiedad: valor;
}

5. Selectores avanzados
  -Atributo

 Selecciona elementos segun el atributo que indiquemos sin importar su valor. 
 
 elemento [atributo] {
  propiedad: valor
}

- Atributo - Valor

Selecciona elementos según el atributo y el valor que índiquemos.

elemento [atributo=valor] {
  propiedad: valor;
}

 Selectores Avanzados

  -pseudo-clases

  SEleccionamos elementos en un estado en particular.

   elemento:pseudoclase {
    propiedad: valor;
}
  -pseudo-elementos

  Seleccionan partes especificas de un elemento en html

  elemento::pseudoelemento {
    propiedad: valor;
   }
*/

/* 
Selectores Básicos
 */


 /* 
 Universal -> Selecciona todos los elementos de un documento
 */

 *{
  /* border: 2px solid red; */
  /* Reset básico */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 /* Selectores de tipo -> Seleccionar un tipo de elemento en html */

 body {
  background-color: lightblue;
 }

 h1 {
  color: darkblue;
 }

 p {font-size: 24px;}


 header {
  background-color: aqua;
 }

/*  Selector de clase*/

 .content{
  background-color: blueviolet;
  padding: 48px;
 }

 .hero{
background-color:aquamarine;
padding: 24px;
 }

 .hero-title {
background-color: darkmagenta;
padding: 16px;
  color: aliceblue;
  text-align: center;
 }

 /*Selector de Id*/

 #about-title {
  color: aqua;
  font-size: 72px;
 }
 

 /* Combinado - Elementos Descendientes */

 aside section {
background-color: hotpink;
padding: 48px;
 }

 .aside-section h3 {
  color: aliceblue;
  text-align:right;
  padding: 24px;
  background-color: darkorchid;

 }

 /* Combinados-Hijos directos*/

 ul > li {
   background-color: darksalmon;
 }

 .lista > li {
font-size: 12px;
color:indigo;
 }

 /* Combinados - Elementos Adjacente*/

 h3 + ul{
  list-style: none;
 }

 .bro + li {
  background-color: crimson;
 }

 /* Combinado-Elementohermano*/

 .bro + li ~ li {
background-color: darkorange;
 }

 .tercero ~ li {
  color: black;
  font-size: 40px;
 }


 /* Selector de Atributo*/

 a[href] {
  display: block;
  text-decoration: none;
  color: crimson;
 }

 /* Selector de atributo con valor*/

 a[href="https://www.instagram.com"] {
  font-size: 48px;
  color: chocolate;
 }

 /* Pseudo-Clase */

 a:hover {
  background-color: purple;
  color: white;
  text-decoration: underline;
 }

 a:focus{
  border: 3px solid red;  
 }

 /* Pseudo-elementos*/

 a::after {
  content: "👻";
 }

 a::before {
  content: "Este es un enlace hacia ";
 }