/* 
En CSS la porpiedad que define 


font-family: "Nombre Fuente";

Fuentes Web Safe o Seguras son tipografias predeterminadas y que se pueden usar en cualquier sistema operativo y/o navegador web.
Por estilo o categoría:
- serif
- sans-serif
- monospace
-cursive -> script
- fantasy -> decorative

Por nombre de la familia tipográfica

 -Arial
 -Times New Roman
 -Verdana
 -Geneva
 -...

  * Los calores que tienen más de una palabra se escriben entre comillas " o ''.

  * Se recomienda usar fuentes de respaldo, si por algunas razón no se carga la fuente principal, se cargarán las fuentes secundarias.

  -Arial,Verdana, sans-serif
  - "Times New Roman",

Fuentes Personalizadas
 *Fuentes externas

 Son recursos que traemos de servidores remotos.

 -Google Fonts
 -Adobe Fonts
 -Font Squirlt
 -...

 *Fuentes internas

 Son los recursos que tenemos en nuestro propio sevidor o sistema de carpetas

 -Descargadas
 -Guardamos en una carpeta específica de nuestro sitio web


*/

html {

  /* Por estilo o categoria */

   font-family: serif;/* Default patinada */
   font-family: sans-serif;/* Sin patines, palo seco, geometrica */
   font-family: monospace;/* Mono-Espaciadas */
   font-family: cursive; /* Script o escritura a mano */
   font-family: fantasy;/* Decorativas con glifos no convencionales */


   /* Por Nombre de la familia tipográfica */

   font-family: Arial;
   font-family: "Times New Roman";
   font-family: Verdana;
   font-family: "Gill Sans";
   font-family: "Courier New";

/* Fuentes de respaldo */

font-family: Arial, Helvetica, sans-serif;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;






}