* {

  margin: 0;
  padding: 0;
}




body {
  font-family: sans-serif;
  color: white;
  background-color: darksalmon;
}

/* 

Box Model 

Es un concepto fundamental que describe como los elementos de una página web se organizan y calculan su tamaño.

1. Contenido (content)

En el área donde se encuentra el texto, las imagenes, y otro elemento hijo. El tamaño de esta +area se define con las propiedades width y height

2.- Relleno (padding)

Es el espacio entre el contenido y el borde de la caja.Ayuda a crear un espacio interno al rededor del contenido

La propiedad ed padding es un "shorthand" que controla de los 3 lados posibles de la caja.

  padding; top rigth button left ;
  padding: top/button rigth/left;
  padding: top/bottom rigth/left;
  padding: t/r/b/l ;

  padding-top: valor;
  padding-rigth: valor;
  padding-button:valor;
  padding-left:valor;

  3.- Borde(Border)

  Es el borde que rodea el content y el padding. Podemos personalizar su grosor, estilo y color, tambien es una propiedad en "shorthand"

    border: ancho estilo color;
    border-width: valor;
    border-style: valor;
    border-color: color;

    border-top-width: valor;
    border-rigth-style: valor;
    border-button-width: valor;
  
     border-top-style: valor;
     border-bottom-style: valor;
     border-left-style: valor;
     border-right-style: valor;

     border-top-color: valor;
     border-bottom-color: valor;
     border-left-color: valor;
     border-right-color: valor;




    Valores Estilo de borde::after
    -none
    -hidden
    -solid
    -dotted
    -dashed
    -double
    -groove
    -ridge
    -inset
    -outset


  4.- Margen (Margin)

  Permite tener espacio entre el border de un elemento y otros elementos de la página.También es un "shorthand"

    margin: top rigth botton left;
    margin: top risgth/left bottom;
    margin::top/botton rigtj/left;
    margin: t/r/b/l;

    margin-top: valor;
 margin-right: valor;
 margin.left: valor;
 margin-bottom: valor;

*/

/* CONTENT */

h2 {
  padding: 24px;
  border: 24px solid black;
  margin: 8px 16px 24px 32px;


  width: 200px;
  height: 80px;
  background-color: blue;
}
img {

 margin: 12px 24px 48px;

  padding: 24px;
  border-width: 10px;
  border-style: inset;
  border-color: cornflowerblue;

  width: 100px;
  height: 100px;
background-color: aquamarine;
}

ul {
  padding: 24px 48px 64px;

  border-top-width: 20px;
  border-top-style: dashed;
  border-top-color: blueviolet;

  border-left-width: 10px;
  border-left-style: groove;
  border-left-color: blueviolet;

  margin: 48px 8px;

  width: 400px;
  height: auto;
  list-style: none;
background-color: forestgreen;
}

li{
  padding: 8px 16px 24px 32px;

  border-bottom-width: 10px;
  border-bottom-style: dotted;
  border-bottom-color: yellow;

  margin: 24px;
  
  width: 300px;
  height: 100px;
  background-color: palevioletred;
}